<div class="container-fluid">
	<div class="row">
		<div class="col-11 my-5">
			&nbsp;
		</div>
		<div class="col-1 my-4">
			<div class="btn-derecha">
				<span class="text-nowrap">Cantidad por página:</span>
				<select class="form-select form-select-lg" (change)="setCantidadPorPag()" [(ngModel)]="cantidad">
					<option *ngFor="let cantidadPorPag of opcionesCantidadPorPagina">
						{{ cantidadPorPag }}
					</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col my-2 mx-1">
			<span>Páginas</span>
		</div>
	</div>
	<div class="row align-items-start flex-nowrap" style="overflow-x: scroll !important;">
		<div class="col my-4" *ngFor="let paginaN of paginasDisponiblesArray">
			<a class="paginaN flex-nowrap" (click)="getPorPaginaNum(paginaN.numPagina)">
				{{paginaN.numPagina}}
			</a>
		</div>
	</div>
</div>