<div class="container-fluid">
<nav class="navbar navbar-expand-lg" >
    <a href="/" class="navbar-brand">Inicio</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2">


        <li class="nav-item"><a href="/registrar-venta" class="nav-link active">Hacer pedido</a></li>
        <li class="nav-item"><a href="/facturas" class="nav-link active">Ver pedidos</a></li>
        <li class="nav-item"><a href="/productos" class="nav-link active">Productos</a></li>        
        <li class="nav-item"><a href="/usuarios" class="nav-link active">Clientes</a></li>
        <li class="nav-item"><a href="/ie" class="nav-link active">Balance</a></li>
        <li class="nav-item"><a href="/upload" class="nav-link active">Subir</a></li>
        <li class="nav-item"><a href="/" class="nav-link active">Inicio</a></li>
        
      </ul>
    </div>

</nav>
</div>

<br/><br/>

<router-outlet></router-outlet>

<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
