
Dockerfiles/api-java/app1.jar
Dockerfiles/httpd/webapp/favicon.ico
Dockerfiles/httpd/webapp/index.html
Dockerfiles/httpd/webapp/main-7GYCK4IC.js
Dockerfiles/httpd/webapp/media/bootstrap-icons-BNVXHMH5.woff
Dockerfiles/httpd/webapp/media/bootstrap-icons-UDRIHJCM.woff2
Dockerfiles/httpd/webapp/polyfills-LZBJRJJE.js
Dockerfiles/httpd/webapp/scripts-4QMZZS7N.js
Dockerfiles/httpd/webapp/styles-GVJKREHY.css
