**/*.DS_Store
**/*.jar
backend-java-springboot/src/main/resources/templates
backend-java-springboot/src/main/resources/static
backend-java-springboot/src/main/resources
shellscript/a.out
backend-javascript-nodejs/proyecto0/node_modules
