<!-- INICIO-PAG -->

<div class="container mt-5">

	<!-- busqueda-de-productos -->
	<div class="row">

		<div class="col-11 mt-1">
			<div class="input-group mb-3">
				<span class="input-group-text">
					<i class="bi bi-search"></i>
				</span>
				<input type="text" class="form-control form-control-lg" id="parametro-buscar" 
				placeholder="Buscar" [(ngModel)]="parametros.buscar" maxlength="20" 
				(change)="getPaginadoBuscando(parametros.buscar)">
				</div>

		</div>
		<div class="col-1 mt-1 ">
			<button class="btn btn-secondary btn-lg " (click)="limpiarBusqueda()">
				<i class="bi bi-ban"></i>
			</button>
		</div>

	</div>


	<!-- tabla-busqueda-productos -->
	<div class="row">
		<div class="col mt-1">
			<div class="table-responsive">

				<table class="table  table-striped
				 table-lg table-bordered table-hover">
					<thead>
						<tr>
							<th class="tableHeaderBlack" scope="col">Producto</th>
							<th class="tableHeaderBlack" scope="col">Precio</th>
							<th class="tableHeaderBlack" scope="col">Existencias</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let objetoN of productosEncontrados">
							<td (click)="agregarAlPedido(objetoN)" class="align-middle">{{ objetoN.nombre }}</td>
							<td (click)="agregarAlPedido(objetoN)" class="align-middle">Q. {{ objetoN.precioVenta }}</td>
							<td (click)="agregarAlPedido(objetoN)" class="align-middle">{{ objetoN.existencias }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- tabla-busqueda-de-productos -->
	<!-- busqueda-de-productos -->





	<div class="row">
		<div class="col mt-5">
			<h1>Detalle del pedido</h1>
		</div>
	</div>

	<!-- tabla-detalle-pedido -->
	<div class="row">
		<div class="col mt-1">
			<div class="table-responsive">

				<table class="table  table-striped
				 table-lg table-bordered table-hover">
					<thead>
						<tr>

							<th class="tableHeaderRed" scope="col">&nbsp;</th>

							<th class="tableHeaderBlack" scope="col">Producto</th>

							<th class="tableHeaderBlack" scope="col">Cantidad</th>

							<th class="tableHeaderBlack" scope="col">Precio</th>

							<th class="tableHeaderBlack" scope="col">Subtotal</th>

						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let objetoN of objetosPedido">

							<td>
								<button class="btn btn-danger" (click)="quitarDelPedido(objetoN.id) ">
									<i class="bi bi-trash3-fill"></i>
								</button>
							</td>

							<td (click)="agregarAlPedido(objetoN)" class="align-middle">{{ objetoN.nombre }}</td>

							<td (click)="agregarAlPedido(objetoN)" class="align-middle">{{ objetoN.cantidad }}</td>

							<td (click)="agregarAlPedido(objetoN)" class="align-middle">Q. {{ objetoN.precio }}</td>

							<td (click)="agregarAlPedido(objetoN)" class="align-middle">Q. {{ objetoN.subtotal }}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- tabla-detalle-pedido -->



</div>





<div class="container mt-5">

	<div class="row">
		<div class="col mt-1">
			<div class="mb-3">
				<button class="btn btn-success btn-lg" (click)="guardarPedido()">
					<i class="bi bi-floppy2-fill"></i>
					Guardar
				</button>
			</div>
		</div>
	</div>

</div>










<!-- FIN-PAG -->