<!-- INICIO-PAG -->

<div class="container-fluid">

	<!-- clientes-encontrados -->
	<div class="row">
		<div class="col my-4">

			<div class="h3">Cliente: {{ todoElPedido.usuarioNombre|| "" }}</div>

			<div class="input-group mb-3">

				<span class="input-group-text">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</span>

				<input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar cliente"
					[(ngModel)]="parametros.buscarCliente" maxlength="20" (change)="getClientes(parametros.buscarCliente)">

				<button class="btn btn-secondary btn-lg " (click)="limpiarBusquedaClientes()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
						viewBox="0 0 16 16">
						<path
							d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
					</svg>
				</button>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col my-4">
			<div class="table-responsive">
				<table class="table table-lg table-borderless table-striped" style="border-bottom: 2px solid black !important;">
					<thead >
						<tr >
							<th  scope="col">Clientes encontrados</th>
						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let clienteN of clientesEncontrados; index as ind " >
							<td (click)="setClienteCompra(clienteN, ind )" >
								{{ clienteN.nombre }} {{ clienteN.nombreDos || "" }} {{ clienteN.apellido || "" }} {{
								clienteN.apellidoDos || "" }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>



	<!-- clientes-encontrados -->
	<br /><br /><br />








	<!-- busqueda-de-productos -->
	<div class="row">

		<div class="col-12 mt-2">
			<div class="input-group mb-3">

				<span class="input-group-text">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</span>

				<input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar producto"
					[(ngModel)]="parametros.buscar" maxlength="20" (change)="getPaginadoBuscando(parametros.buscar)">

				<button class="btn btn-secondary btn-lg " (click)="limpiarBusqueda()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
						viewBox="0 0 16 16">
						<path
							d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
					</svg>
				</button>
			</div>

		</div>

	</div>





	<!-- tabla-productos-encontrados -->
	<div class="row">
		<div class="col my-4">
			<div class="table-responsive">

				<table class="table table-lg table-borderless table-striped" style="border-bottom: 2px solid black !important;">
					<thead >
						<tr >
							<th  scope="col">ID</th>
							<th  scope="col">Producto</th>
							<th  scope="col">Existencias</th>
						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let objetoN of productosEncontrados; index as ind " >

							<td (click)="agregarAlPedido(objetoN, ind )" >{{ objetoN.id }}</td>
							<td (click)="agregarAlPedido(objetoN, ind )" >{{ objetoN.nombre }}</td>
							<td (click)="agregarAlPedido(objetoN, ind )" >{{ objetoN.existencias }}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- tabla-productos-encontrados -->

	<!-- busqueda-de-productos -->
	<br /><br /><br />










	<div class="row">
		<div class="col my-5">
			<div class="h3">Detalle del pedido</div>
		</div>
	</div>


	<!-- tabla-detalle-pedido -->
	<div class="row">
		<div class="col my-4">

			<div class="table-responsive">
				<table class="table table-lg table-borderless table-striped" style="border-bottom: 2px solid black !important;">
					<thead>
						<tr>

							<th scope="col"  style="width:54px !important;">&nbsp;</th>
							<th scope="col" >Producto</th>
							<th scope="col" >Precio</th>
							<th scope="col" >Cantidad</th>
							<th scope="col" >Subtotal por producto</th>

						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let objetoN of objetosPedido; index as ind " >

							<td>
								<button class="btn btn-danger btn-lg" (click)="quitarDelPedido(ind) ">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash3-fill" viewBox="0 0 16 16">
										<path
											d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
									</svg>
								</button>
							</td>

							<td >{{ objetoN.nombre }}</td>

							<td  style="width: 99px !important;">
								 {{ objetoN.precioVenta | currency: 'Q. ' }}
								<input type="number" class="form-control" id="parametro-precioVenta" placeholder=""
									[(ngModel)]="objetoN.precioVenta" min={{objetoN.precioVentaMin}}
									(change)="validarNewPrecioVenta(objetoN)">
								<label for="parametro-precioVenta" class="form-label"></label>

							</td>

							<td  style="width: 99px !important;">
								<input type="number" class="form-control" id="parametro-cantidad" placeholder=""
									[(ngModel)]="objetoN.cantidadProductoVendido" min="1" (change)="actualizarDetallePedido()">
								<label for="parametro-cantidad" class="form-label"></label>
							</td>


							<td > {{ objetoN.subtotalPorProducto | currency: 'Q. ' }}</td>

						</tr>
					</tbody>
				</table>
			</div>


			<div class="h3">
				{{ todoElPedido.subtotal | currency: 'Q. ' || 0 }} Subtotal<br />
				{{ todoElPedido.iva | currency: 'Q. ' || 0 }} IVA<br />
				{{ todoElPedido.total | currency: 'Q. ' || 0 }} Total
			</div>

		</div>
	</div>
	<!-- tabla-detalle-pedido -->


	<div class="row">

		<div class="col my-4">
			Tipo de Pedido
			<select class="form-select form-select-lg" [(ngModel)]="todoElPedido.tipoPago"
			style="min-width: 100% !important; width: max-content !important;border: 2px solid gray !important;">

				<option *ngFor="let objetoN of tiposDePago" value={{objetoN.id}}>
					{{objetoN.nombre}}
				</option>

			</select>
		</div>
	</div>

	<div class="row">
		<div class="col my-5">
			<button class="btn btn-success btn-lg btn-derecha" (click)="guardarPedido()">
				Guardar
			</button>
		</div>

	</div>

<br/><br/><br/><br/>
<br/><br/><br/><br/>




	
</div>










<!-- FIN-PAG -->