<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height: 100vh !important; padding: 0px !important;" >
	
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none pt-5">
		<span class="fs-4" (click)="cambiarMenu()" >
			LOGO
		</span>
	</a>
	
	<hr/>

	<ul class="nav nav-pills flex-column mb-auto">

		<li class="nav-item">
			<a href="/" class="nav-link text-white" aria-current="page">
				Inicio
			</a>
		</li>

		<li>
			<a href="/registrar-venta" class="nav-link text-white">
				Registrar venta
			</a>
		</li>

		<li>
			<a href="/facturas" class="nav-link text-white">
				Facturas
			</a>
		</li>

		<li>
			<a href="/productos" class="nav-link text-white">
				Productos
			</a>
		</li>

		<li>
			<a href="/usuarios" class="nav-link text-white">
				Clientes
			</a>
		</li>

		<li>
			<a href="/ie" class="nav-link text-white">
				Balance
			</a>
		</li>

		<li>
			<a href="/upload" class="nav-link text-white">
				Subir info
			</a>
		</li>


	</ul>

	
</div>