<div class="container-fluid">

	<div class="row">


		<!-- botones -->
		<div>

			<div class="col-12 my-2" *ngIf="verLista == 'S'">
				<button class="btn btn-dark btn-lg align-middle btn-100" (click)="verVentanaAgregar()">Agregar</button>
			</div>

			<div class="col-12 my-2" *ngIf="verLista == 'N'">
				<button class="btn btn-dark btn-lg align-middle btn-100" (click)="verListado()">Regresar</button>
			</div>

			<div class="col-12 my-2" *ngIf="verLista == 'N' && verAgregar == 'N'">
				<button class="btn btn-dark btn-lg align-middle btn-100" (click)="verVentanaInventario()">
					Log Inventario
				</button>
			</div>

		</div><!-- botones -->




		<!-- busqueda -->
		<div class="col-12 my-2 limit-max" *ngIf="verLista == 'S'">
			<div class="input-group">
				<span class="input-group-text bg-dark text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</span>
				<input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar"
					[(ngModel)]="productoSeleccionado.buscar" maxlength="20" (change)="buscarEnDb(productoSeleccionado.buscar)">
				<button class="btn btn-dark btn-lg " (click)="limpiarBusqueda()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
						viewBox="0 0 16 16">
						<path
							d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
					</svg>
				</button>
			</div>
		</div><!-- busqueda -->






		<!-- ver-lista -->
		<div class="col-12 my-2" *ngIf="verLista == 'S'">
			<div class="table-responsive">
				<table class="table table-lg table-borderless table-striped">
					<thead>
						<tr>
							<th class="text-nowrap" scope="col">ID</th>
							<th class="text-nowrap" scope="col">Nombre</th>
							<th class="text-nowrap" scope="col">Costo Unidad</th>
							<th class="text-nowrap" scope="col">Ganancia Q</th>
							<th class="text-nowrap" scope="col">Precio Venta Q</th>
							<th class="text-nowrap" scope="col">Existencias</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let productoN of productos">
							<td class="text-nowrap" (click)="actualizarSeleccionado(productoN)">{{ productoN.id }}</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(productoN)">{{ productoN.nombre | uppercase }}</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(productoN)">{{ productoN.costoUnidad | currency: 'Q. '
								}}</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(productoN)">{{ productoN.ganancia | currency: 'Q. ' }}
							</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(productoN)">{{ productoN.precioVenta | currency: 'Q. '
								}}</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(productoN)">{{ productoN.existencias }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- ver-lista -->


		<!-- editar -->
		<div *ngIf="verEditable == 'S'">

			<div class="col-12 my-4">
				&nbsp;
			</div>

			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-nombre" placeholder=""
						[(ngModel)]="productoSeleccionado.nombre" required>
					<label for="parametro-nombre" class="form-label">Nombre:</label>
				</div>
			</div>

			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-costoUnidad" placeholder=""
						[(ngModel)]="productoSeleccionado.costoUnidad">
					<label for="parametro-costoUnidad" class="form-label">Costo Por Unidad ( Q ):</label>
				</div>
			</div>



			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-ganancia" placeholder=""
						[(ngModel)]="productoSeleccionado.ganancia">
					<label for="parametro-ganancia" class="form-label">Ganancia ( Q ):</label>
				</div>
			</div>

			<div class="col-12 my-2" *ngIf="crearOrActualizar == 'C'">
				<button class="btn btn-dark btn-lg btn-100" (click)="agregar()">Guardar</button>
			</div>

			<div class="col-12 my-2" *ngIf="crearOrActualizar == 'A'">
				<button class="btn btn-dark btn-lg btn-100" (click)="actualizar()">Actualizar</button>
			</div>

			<div class="col-12 my-4">
				&nbsp;
			</div>

			<div class="col-12 my-2">
				<div class="form-floating">
					<input type="number" class="form-control form-control-lg" id="parametro-nuevasUnidades" placeholder=""
						[(ngModel)]="productoSeleccionado.nuevasUnidades">
					<label for="parametro-nuevasUnidades" class="form-label">Nuevas unidades:</label>
				</div>
			</div>

			<div class="col-12 my-2">
				<button class="btn btn-dark btn-lg btn-100" (click)="agregarAlInventario(this.productoSeleccionado)">
					Agregar al inventario
				</button>
			</div>

			<div class="col-12 my-5">
				&nbsp;
			</div>

			<!-- 
	proximamente se podrá adjuntar una imagen por producto
	<div class="col-12 my-2">
	<div class="form-floating">
	<input type="file" accept="image/*" (change)="cargarImagen($event)" class="form-control form-control-lg"
	id="parametro-imagen" placeholder="" [(ngModel)]="productoSeleccionado.imagen">
	<label for="parametro-imagen" class="form-label">Imagen:</label>
	</div>
	</div>
	<div class="col-12 my-2">
	<button>Guardar imagen</button>
	</div>
	</div>
-->

		</div><!-- editar -->


		<!-- agregar -->
		<div class="col-12 my-2">
			&nbsp;
		</div>
		<div *ngIf="verAgregar == 'S'">

			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-nombre" placeholder=""
						[(ngModel)]="productoSeleccionado.nombre" required>
					<label for="parametro-nombre" class="form-label">Nombre:</label>
				</div>
			</div>

			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-existencias" placeholder=""
						[(ngModel)]="productoSeleccionado.existencias">
					<label for="parametro-existencias" class="form-label">Existencias (Número Entero):</label>
				</div>
			</div>

			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-costoUnidad" placeholder=""
						[(ngModel)]="productoSeleccionado.costoUnidad">
					<label for="parametro-costoUnidad" class="form-label">Costo Por Unidad ( Q ):</label>
				</div>
			</div>

			<div class="col-12 my-2">
				<div class="form-floating mb-3">
					<input type="text" class="form-control form-control-lg" id="parametro-ganancia" placeholder=""
						[(ngModel)]="productoSeleccionado.ganancia">
					<label for="parametro-ganancia" class="form-label">Ganancia ( Q ):</label>
				</div>
			</div>

			<div class="col-12 my-2">
				<button class="btn btn-dark btn-lg btn-100" *ngIf="crearOrActualizar == 'C'" (click)="agregar()">
					Guardar
				</button>
			</div>

			<div class="col-12 my-2">
				<button class="btn btn-dark btn-lg btn-100" *ngIf="crearOrActualizar == 'A'" (click)="actualizar()">
					Actualizar
				</button>
			</div>

		</div><!-- agregar -->






		<div class="col-12 my-4"  *ngIf="verInventario == 'S'">
			&nbsp;
		</div>

		<!-- registros-inventario-por-producto -->
		<div class="col-12 my-2" *ngIf="verInventario == 'S'">

			<div class="table-responsive">
				<table class="table table-lg table-borderless table-striped">
					<thead>
						<tr>
							<th class="text-nowrap" scope="col">ID</th>
							<th class="text-nowrap" scope="col">Saldo Anterior</th>
							<th class="text-nowrap" scope="col">Entradas</th>
							<th class="text-nowrap" scope="col">Salidas</th>
							<th class="text-nowrap" scope="col">Existencias</th>
							<th class="text-nowrap" scope="col">Fecha</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let productoN of productos">
							<td class="text-nowrap">{{ productoN.id }}</td>
							<td class="text-nowrap">{{ productoN.saldoAnterior }}</td>
							<td class="text-nowrap">{{ productoN.entradas }}</td>
							<td class="text-nowrap">{{ productoN.salidas }}</td>
							<td class="text-nowrap">{{ productoN.existencia }}</td>
							<td class="text-nowrap">{{ formatoDeFecha(productoN.fecha) }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- registros-inventario-por-producto -->


		<!-- paginacion -->
		<div *ngIf="verLista == 'S' || verInventario == 'S'">

			<div class="col-12 my-2 limit-max-2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 my-2  ">
							<label>Cantidad</label>
							<select class="form-select form-select-lg" (change)="setCantidadPorPag()" [(ngModel)]="cantidad">
								<option *ngFor="let cantidadPorPag of opcionesCantidadPorPagina">
									{{ cantidadPorPag }}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 my-2">
				<div class="container-fluid">
					<span>Páginas</span>
					<div class="row d-flex flex-wrap align-items-start align-content-start">
						<div class="col-12 my-2">
							<span *ngFor="let paginaN of paginasDisponiblesArray">
								<a class="paginaN" (click)="getPorPaginaNum(paginaN.numPagina)">
									{{paginaN.numPagina}}
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- paginacion -->


	</div><!-- row -->

</div><!-- container-fluid -->