
<pre style="margin-top: 45px !important;text-align: center !important;">
Sistema hecho con Angular, Spring Boot y MySQL
	para llevar un control de inventario de productos,
	pedidos en efectivo,
	pedidos al credito,
	y productos que se dejan en consignacion,
	así como las entradas y salidas de producto,
	los ingresos y egresos por mes por ventas en efectivo, 
	registro de los pagos parciales de ventas al credito,
	y el saldo pendiente de pago por cliente.
</pre>

<div style="text-align: center !important;;">
	<img src="/assets/diagramaDB.png"
	alt="diagrama-de-base-de-datos" 
	style="width: 90% !important;" />
</div>

