
<div class="container-fluid">



	<div class="row">
		<div class="col my-4">
			<p>
				Sistema hecho con Angular, Spring Boot y MySQL
					para llevar un control de inventario de productos,
					pedidos en efectivo,
					pedidos al credito,
					y productos que se dejan en consignacion,
					así como las entradas y salidas de producto,
					los ingresos y egresos por mes por ventas en efectivo, 
					registro de los pagos parciales de ventas al credito,
					y el saldo pendiente de pago por cliente.
				</p>
		</div>
	</div>






	<div class="row">
		<div class="col my-4">

			<a class="homeLink" href="/registrar-venta">Registrar Pedido</a>
			<a class="homeLink" href="/facturas" >Todos los Pedidos</a>
			<a class="homeLink" href="/productos" >Productos</a>
			<a class="homeLink" href="/usuarios" >Clientes</a>
			<a class="homeLink" href="/ie" >Ingresos y Egresos</a>

		</div>
	</div>




	<div class="row">
		<div class="col my-4">
			<img src="/assets/diagramaDB.png" alt="diagrama-de-base-de-datos" style="width: 90% !important;margin-left: auto !important;margin-right: auto !important;" />
		</div>
	</div>

	
</div>
