<!-- componente-1 -->
<div class="container mt-5">

<!-- CLIENTE ABONA -->
<div class="row">
	<div class="col mt-1">
		<div class="mb-3">
			<h1>CLIENTE ABONA</h1>
			<p-table [value]="datosDBArray" [tableStyle]="{ 'min-width': '50rem' }">

				<ng-template pTemplate="header">
					<tr>

						<th class="tableHeaderBlack">VALOR</th>

						<th class="tableHeaderBlack">FECHA</th>

					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-objetoN>
					<tr>

						<td>{{ objetoN.valor }}</td>

						<td>{{ objetoN.fecha }}</td>

					</tr>
				</ng-template>

			</p-table>
		</div>

	</div>
</div>













<hr/>
<!-- TIPO DE PAGO -->
<div class="row">
	<div class="col mt-1">
		<div class="mb-3">
			<h1>TIPO DE PAGO</h1>
			<p-table [value]="datosDBArray" [tableStyle]="{ 'min-width': '50rem' }">

				<ng-template pTemplate="header">
					<tr>

						<th class="tableHeaderBlack">ID</th>

						<th class="tableHeaderBlack">DESCRIPCION</th>

					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-objetoN>
					<tr>

						<td>{{ objetoN.id }}</td>

						<td>{{ objetoN.descripcion }}</td>

					</tr>
				</ng-template>

			</p-table>
		</div>

	</div>
</div>











<hr/>

<!-- CATEGORIA -->
<div class="row">
	<div class="col mt-1">
		<div class="mb-3">
			<h1>CATEGORIA</h1>
			<p-table [value]="datosDBArray" [tableStyle]="{ 'min-width': '50rem' }">

				<ng-template pTemplate="header">
					<tr>

						<th class="tableHeaderBlack">ID</th>

						<th class="tableHeaderBlack">DESCRIPCION</th>

					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-objetoN>
					<tr>

						<td>{{ objetoN.id }}</td>

						<td>{{ objetoN.descripcion }}</td>

					</tr>
				</ng-template>

			</p-table>
		</div>

	</div>
</div>












<hr/>

<!-- FACTURA -->
<div class="row">
	<div class="col mt-1">
		<div class="mb-3">
			<h1>FACTURA</h1>
			<p-table [value]="datosDBArray" [tableStyle]="{ 'min-width': '50rem' }">

				<ng-template pTemplate="header">
					<tr>

						<th class="tableHeaderBlack">NUMERO</th>

						<th class="tableHeaderBlack">FECHA EMISION</th>

						<th class="tableHeaderBlack">CLIENTE</th>

						<th class="tableHeaderBlack">NIT</th>

						<th class="tableHeaderBlack">TOTAL</th>

						<th class="tableHeaderBlack">IVA</th>

						<th class="tableHeaderBlack">GANANCIA</th>

						<th class="tableHeaderBlack">PENDIENTE DE PAGO</th>

						<th class="tableHeaderBlack">TIPO DE PAGO</th>

						<th class="tableHeaderBlack">DIRECCION</th>

					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-objetoN>
					<tr>

						<td>{{ objetoN.id }}</td>

						<td>{{ objetoN.fechaEmision }}</td>

						<td>{{ objetoN.nombre }} {{ objetoN.apellido }}</td>

						<td>{{ objetoN.nit }}</td>

						<td>{{ objetoN.total }}</td>

						<td>{{ objetoN.iva }}</td>

						<td>{{ objetoN.ganancia }}</td>

						<td>{{ objetoN.pendienteDePago }}</td>

						<td>{{ objetoN.tipoDePago.descripcion }}</td>

						<td>{{ objetoN.direccion }}</td>

					</tr>
				</ng-template>

			</p-table>
		</div>

	</div>
</div>


<!-- DETALLE FACTURA -->
	<div class="row">
		<div class="col mt-1">
			<div class="mb-3">
				<h1>DETALLE</h1>
				<p-table [value]="datosDBArray" [tableStyle]="{ 'min-width': '50rem' }">

					<ng-template pTemplate="header">
						<tr>

							<th class="tableHeaderBlack">PRODUCTO</th>

							<th class="tableHeaderBlack">CANTIDAD</th>

							<th class="tableHeaderBlack">PRECIO</th>

							<th class="tableHeaderBlack">SUBTOTAL</th>

							<th class="tableHeaderBlack">IVA</th>

							<th class="tableHeaderBlack">COSTO UNIDAD</th>

							<th class="tableHeaderBlack">COSTO DEL SUBTOTAL</th>

							<th class="tableHeaderBlack">GANANCIA DEL SUBTOTAL</th>

						</tr>
					</ng-template>

					<ng-template pTemplate="body" let-objetoN>
						<tr>

							<td>{{ objetoN.producto.nombre }}</td>

							<td>{{ objetoN.cantidadProductoVendido }}</td>

							<td>{{ objetoN.precioVentaPorProducto }}</td>

							<td>{{ objetoN.subtotalPorProducto }}</td>

							<td>{{ objetoN.ivaDelSubtotalPorProducto }}</td>

							<td>{{ objetoN.costoUnidad }}</td>

							<td>{{ objetoN.costoDelSubtotalPorProducto }}</td>

							<td>{{ objetoN.gananciaDelSubtotalPorProducto }}</td>

						</tr>
					</ng-template>

				</p-table>
			</div>

		</div>
	</div>


<hr/>






















	



















	<!-- componente-1 -->
	<div class="container mt-5">

		<div class="row">
			<div class="col mt-1">
				<div class="mb-3">
					<h1 class="frankBlue">
						Bienvenido !
					</h1>
				</div>
			</div>
		</div>

	</div>


	<!-- componente-2 -->
	<div class="container mt-5">

		<div class="row">
			<div class="col mt-1">
				<div class="mb-3">
					Registros encontrados: {{datosDBArray.length}}
					<p-table [value]="datosDBArray" [tableStyle]="{ 'min-width': '50rem' }">

						<ng-template pTemplate="header">
							<tr>

								<th class="tableHeaderBlack">
									ID
								</th>

								<th class="tableHeaderBlack">
									NOMBRE
								</th>

								<th class="tableHeaderBlack">
									Opciones
								</th>

							</tr>
						</ng-template>

						<ng-template pTemplate="body" let-objetoN>
							<tr>

								<td>{{ objetoN.id }}</td>

								<td>{{ objetoN.nombre }}</td>

								<td>
									<button class="btn btn-primary btn-lg" (click)="editar(objetoN)">
										<i class="bi bi-pencil-fill"></i>
									</button>
									&nbsp;
									<button class="btn btn-danger btn-lg" (click)="eliminarArtistaByID(objetoN.id)">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>

							</tr>
						</ng-template>

					</p-table>
				</div>
			</div>
		</div>

	</div>


	<!-- componente-1 -->
	<div class="container mt-5">

		<div class="row">
			<div class="col mt-1">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="parametro-id" placeholder="" [(ngModel)]="parametros.id">
					<label for="parametro-id" class="form-label">ID:</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col mt-1">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="parametro-nombre" placeholder="" [(ngModel)]="parametros.nombre">
					<label for="parametro-nombre" class="form-label">Nombre:</label>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col mt-1">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="parametro-contrasena" placeholder=""
						[(ngModel)]="parametros.contrasena">
					<label for="parametro-contrasena" class="form-label">Contraseña:</label>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col mt-1">
				<div class="mb-3">
					<button class="btn btn-warning btn-lg" (click)="agregarArtista()">
						<i class="bi bi-plus-circle"></i>
						Agregar/Modificar
					</button>
					&nbsp;
					<button class="btn btn-primary btn-lg" (click)="buscarArtista()">
						<i class="bi bi-search"></i>
						Buscar
					</button>
					&nbsp;
					<button class="btn btn-danger btn-lg" (click)="eliminarArtista()">
						<i class="bi bi-trash-fill"></i>
						Borrar
					</button>
					&nbsp;
				</div>
			</div>
		</div>

	</div>