
<div>
Bootstrap Icon
<i class="bi bi-star-fill"></i>    
</div>

<p-button label="Boton PrimeNG" class="p-button-success"
icon="pi pi-check" iconPos="right"
severity="info" [disabled]="false"
[raised]="true" [rounded]="true"
></p-button>

<button pButton pRipple label="Save" icon="pi pi-check"></button>
<button pButton pRipple label="Delete" icon="pi pi-trash"></button>
<button pButton pRipple label="Cancel" icon="pi pi-times"></button>

<p-button label="Small" icon="pi pi-check" size="small"></p-button>
<p-button label="Normal" icon="pi pi-check"></p-button>
<p-button label="Large" icon="pi pi-check" size="large"></p-button>



<p>Nombre:</p>
<input type="text" [(ngModel)]="parametros.nombre" />
<br />
<button (click)="agregarArtista()">Agregar</button>

<p>ID:</p>
<input type="text" [(ngModel)]="parametros.id" />
<br />
<button (click)="buscarArtista()">Buscar</button>
<button (click)="eliminarArtista()">Borrar</button>
