
<div class="container mt-5" style="width: 540px !important;">

<!--
	<div class="row">
		<div class="col mt-1">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="parametro-id" placeholder="" [(ngModel)]="parametros.id">
				<label for="parametro-id" class="form-label">ID:</label>
			</div>
		</div>
	</div>
-->

	<div class="row">
		<div class="col mt-1">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="parametro-nombre" placeholder=""
					[(ngModel)]="parametros.nombre">
				<label for="parametro-nombre" class="form-label">Nombre:</label>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col mt-1">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="parametro-contrasena" placeholder=""
					[(ngModel)]="parametros.contrasena">
				<label for="parametro-contrasena" class="form-label">Contraseña:</label>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col mt-1">
			<div class="mb-3">
				<button class="btn btn-warning btn-lg" (click)="agregarArtista()">
					<i class="bi bi-plus-circle"></i>
					Agregar
				</button>
				&nbsp;
				<button class="btn btn-primary btn-lg" (click)="buscarArtista()">
					<i class="bi bi-search"></i>
					Buscar
				</button>
				&nbsp;
				<button class="btn btn-danger btn-lg" (click)="eliminarArtista()">
					<i class="bi bi-trash-fill"></i>
					Borrar
				</button>
				&nbsp;
			</div>
		</div>
	</div>

</div>
