<div class="container">

<div class="row" *ngIf="objetoSeleccionado.detalles" >
	<div class="col-12 my-2">
		<label for="parametro-detalles" class="form-label">Detalle con ID {{objetoSeleccionado.id }}</label>
		<textarea class="form-control form-control-lg" id="parametro-detalles" rows="9"
		 [(ngModel)]="objetoSeleccionado.detalles" placeholder="" [readonly] readonly disabled 
		 ></textarea>
	</div>
</div>

<div class="row">

<div class="col-12 my-2">
<div class="table-responsive">
<table class="table table-striped table-lg table-borderless">
<thead>
<tr>
<th class="text-nowrap" scope="col">ID</th>
<th class="text-nowrap" scope="col">Saldo Anterior</th>
<th class="text-nowrap" scope="col">+ Cargos +</th>
<th class="text-nowrap" scope="col">- Abonos -</th>
<th class="text-nowrap" scope="col">Saldo</th>
<th class="text-nowrap" scope="col">Fecha</th>
<th class="text-nowrap" scope="col">Detalles</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let objetoN of objetos">
<td class="text-nowrap" (click)="verDetalle(objetoN)" >{{ objetoN.id }}</td>
<td class="text-nowrap" (click)="verDetalle(objetoN)" >{{ objetoN.saldoAnterior | currency: 'Q. ' }}</td>
<td class="text-nowrap" (click)="verDetalle(objetoN)" >{{ objetoN.cargos | currency: 'Q. ' }}</td>
<td class="text-nowrap" (click)="verDetalle(objetoN)" >{{ objetoN.abonos | currency: 'Q. ' }}</td>
<td class="text-nowrap" (click)="verDetalle(objetoN)" >{{ objetoN.saldo | currency: 'Q. ' }}</td>
<td class="text-nowrap" (click)="verDetalle(objetoN)" >{{ formatoDeFecha(objetoN.fecha) }}</td>
<td class="text-nowrap tleft" (click)="verDetalle(objetoN)" >{{ objetoN.detalles }}</td>
</tr>
</tbody>
</table>


	<!-- general paginacion -->
	<div>

		<div class="col-12">
			<label>Cantidad por página</label>
			<select class="form-select form-select-lg" (change)="setCantidadPorPag()" [(ngModel)]="cantidad">
				<option *ngFor="let cantidadPorPag of opcionesCantidadPorPagina">
					{{ cantidadPorPag }}
				</option>
			</select>
		</div>

		<div class="col-12 my-4 text-center h5" >
			{{ pagina }} de {{ paginasDisponibles - 1 }}
		</div>

		<div class="col-12 text-center" style="font-size: 27px !important;" >
			<span (click)="getPorPaginaNum(0)"
				class="border border-primary p-2 text-center" 
				style="border-radius: 18px !important;">
				<i class="bi bi-chevron-bar-left"></i>
			</span>
			&nbsp;
			<span (click)="paginaAnterior()"
				class="border border-primary p-2 text-center" 
				style="border-radius: 18px !important;">
				<i class="bi bi-chevron-left"></i>
			</span>
			&nbsp;
			<span (click)="paginaSiguiente()"
			 class="border border-primary p-2 text-center" 
			 style="border-radius: 18px !important;">
				<i class="bi bi-chevron-right"></i>
			</span>
			&nbsp;
			<span (click)="getPorPaginaNum(( paginasDisponibles - 1 ))"
			class="border border-primary p-2 text-center" 
			style="border-radius: 18px !important;">
			 <i class="bi bi-chevron-bar-right"></i>
		 </span>
		</div>

	</div><!-- general paginacion -->


</div>
</div>



</div><!-- row -->
</div><!-- container-fluid -->