
<div class="container">

<div class="row">

	<div class="col-12 my-2">
		<div class="form-floating">
			<input type="text" class="form-control form-control-lg" id="parametro-anio" placeholder=""
				[(ngModel)]="param.anio">
			<label for="parametro-anio" class="form-label">Año (número):</label>
		</div>
	</div>

	<div class="col-12 my-2">
		<div class="form-floating ">
			<input type="text" class="form-control form-control-lg" id="parametro-mes" placeholder=""
				[(ngModel)]="param.mes">
			<label for="parametro-mes" class="form-label">Mes (número):</label>
		</div>
	</div>

	
	<div class="col-12 my-2">
			<button class="btn btn-dark btn-lg btn-100" (click)="consultarIE()">
				Consultar
			</button>
	</div>

	<div class="col-12 my-2">
		<button class="btn btn-dark btn-lg btn-100" (click)="verVentanaAgregarGasto()">
			Agregar gasto
		</button>
	</div>


	

<div class="col-12 my-2"  *ngIf="verAgregarGasto == 'S'" >
	&nbsp;
</div>



<div class="col-12 my-2" *ngIf="verAgregarGasto == 'S'">
	<div class="form-floating">
		<input type="text" class="form-control form-control-lg" id="parametro-gasto" placeholder=""
			[(ngModel)]="param.egresos">
		<label for="parametro-gasto" class="form-label">Monto del gasto:</label>
	</div>
</div>




<div class="col-12 my-2" *ngIf="verAgregarGasto == 'S'">
	<div class="form-floating">
		<input type="text" class="form-control form-control-lg" id="parametro-detalle" placeholder=""
			[(ngModel)]="param.detalle">
		<label for="parametro-detalle" class="form-label">Detalle:</label>
	</div>
</div>

	


	<div class="col-12 my-4 mb-4" *ngIf="verAgregarGasto == 'S'">
		<button class="btn btn-dark btn-lg btn-100" (click)="addGasto()">
			Registrar gasto
		</button>
	</div>

	




<div *ngIf="verHistorico">

	<div class="col-12 my-4">
		&nbsp;
	</div>

	<div class="col-12 my-4">
		<h3>
			Ingresos {{ monedaActual }} {{ dosDecimales(sumaIngresos) }}
		</h3>
	</div>

	<div class="col-12 my-4">
		<h3>
			Egresos {{ monedaActual }} {{ dosDecimales(sumaEgresos) }}
		</h3>
	</div>
</div>


<div class="col-12 my-4" *ngIf="param.seleccionado" >
	<label for="parametro-detalles" class="form-label">Detalle con ID :{{ param.seleccionado.id }}  </label>
	<textarea class="form-control form-control-lg" id="parametro-detalles" rows="9"
	 [(ngModel)]="param.seleccionado.detalle" placeholder="" disabled readonly  >
	</textarea>
</div>


<!-- HISTORIAL-POR-ANIO-MES -->
<div class="col-12 my-4" *ngIf="verHistorico" >
		<div class="table-responsive">
			<table class="table table-striped table-lg table-borderless">
				<thead>
					<tr>
						<th scope="col" class="text-nowrap">ID</th>
						<th scope="col" class="text-nowrap">Ingreso</th>
						<th scope="col" class="text-nowrap">Egreso</th>
						<th scope="col" class="text-nowrap">Fecha</th>
						<th scope="col" class="text-nowrap">Detalle</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let objetoN of registrosIngresosEgresos">
						<td class="text-nowrap" (click)="seleccionar(objetoN)" >{{ objetoN.id }}</td>
						<td class="text-nowrap" (click)="seleccionar(objetoN)" >{{ objetoN.ingresos | currency: 'Q. ' }}</td>
						<td class="text-nowrap" (click)="seleccionar(objetoN)" >{{ objetoN.egresos | currency: 'Q. '  }}</td>
						<td class="text-nowrap" (click)="seleccionar(objetoN)" >{{ formatoDeFecha(objetoN.fecha) }}</td>
						<td class="text-nowrap" (click)="seleccionar(objetoN)"  style="text-align: left !important;">{{ objetoN.detalle }}</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
<!-- HISTORIAL-POR-ANIO-MES -->


<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>


</div>

	