

<!-- container-fluid -->
<div class="container">

	<!-- row -->
	<div class="row">

		<div class="col-12 my-2">
			<h1>Guardar venta</h1>
		</div>

		<div class="col-12 my-2">

			<div class="accordion" id="accordionExample">

				<!-- paso-1 -->
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							#1 Seleccionar cliente
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
						<div class="accordion-body">

									<!-- clientes-encontrados -->
		<div class="col-12 my-2">

			<div class="h3">
				Buscar cliente:
				<div *ngIf="todoElPedido.usuarioNombre">
					Pedido para {{ todoElPedido.usuarioNombre || "" }}
				</div>
			</div>

			<div class="input-group mb-3">

				<span class="input-group-text text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</span>

				<input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar cliente"
					[(ngModel)]="parametros.buscarCliente" maxlength="1000" (change)="getClientes(parametros.buscarCliente)">

				<button class="btn btn-lg text-white bg-dark" (click)="limpiarBusquedaClientes()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
						viewBox="0 0 16 16">
						<path
							d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
					</svg>
				</button>
			</div><!-- buscar-cliente -->
		</div>

		<div class="col-12 my-2">
			<div class="table-responsive">
				<table class="table table-lg table-borderless table-striped">
					<thead>
						<tr>
							<th class="text-nowrap" scope="col">
								Clientes encontrados
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let clienteN of clientesEncontrados; index as ind ">

							<td (click)="setClienteCompra(clienteN, ind )" class="text-nowrap" style="text-align: left !important;">
								{{ clienteN.id }} - {{ clienteN.nombreCompleto }}
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- clientes-encontrados -->

						</div>
					</div>
				</div>
				<!-- paso-1 -->



				<!-- paso-2 -->
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							#2 Seleccionar productos
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">


		<!-- busqueda-de-productos -->
		<div class="col-12 mt-2">
			<div class="input-group mb-3">

				<span class="input-group-text bg-dark text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</span>

				<input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar producto"
					[(ngModel)]="parametros.buscar" maxlength="1000" (change)="getPaginadoBuscando(parametros.buscar)">

				<button class="btn bg-dark text-white btn-lg " (click)="limpiarBusqueda()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
						viewBox="0 0 16 16">
						<path
							d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
					</svg>
				</button>
			</div>

		</div>




		<!-- tabla-productos-encontrados -->
		<div class="col-12 my-4">
			<div class="table-responsive">

				<table class="table table-lg table-borderless table-striped" style="border-bottom: 2px solid black !important;">
					<thead>
						<tr>
							<th class="text-nowrap" scope="col">Producto</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let objetoN of productosEncontrados; index as ind ">

							<td class="text-nowrap tleft" (click)="agregarAlPedido(objetoN, ind )">
								{{ objetoN.existencias }} - {{ objetoN.nombre }}
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- tabla-productos-encontrados -->


		<!-- busqueda-de-productos -->

						</div>
					</div>
				</div>
				<!-- paso-2 -->





			</div>

		</div>





		<br /><br /><br />








		<br /><br /><br />













		<!-- tabla-detalle-pedido -->
		<div class="col-12 my-4">
			<div  class="h2" *ngIf="todoElPedido.usuarioNombre">
				Pedido para: {{ todoElPedido.usuarioNombre || "" }}
			</div>
			<div class="h2">Detalle del pedido:</div>
			<div class="table-responsive">
				<table class="table table-lg table-borderless table-striped">
					<thead>
						<tr>

							<th scope="col" class="text-nowrap">Producto</th>
							<th scope="col" class="text-nowrap">Precio</th>
							<th scope="col" class="text-nowrap">Cantidad</th>
							<th scope="col" class="text-nowrap" style="width:54px !important;">&nbsp;</th>

						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let objetoN of objetosPedido; index as ind ">

							<td class="text-nowrap tleft">{{ objetoN.nombre }}</td>

							<td class="text-nowrap">
								{{ objetoN.precioVenta | currency: 'Q. ' }}
								<input type="number" class="form-control" id="parametro-precioVenta" placeholder=""
									[(ngModel)]="objetoN.precioVenta" min={{objetoN.costoUnidad}}
									(change)="validarNewPrecioVenta(objetoN)">
								<label for="parametro-precioVenta" class="form-label"></label>

							</td>

							<td class="text-nowrap">
								<input type="number" class="form-control" id="parametro-cantidad" placeholder=""
									[(ngModel)]="objetoN.cantidadProductoVendido" min="1" (change)="actualizarDetallePedido()">
								<label for="parametro-cantidad" class="form-label"></label>
							</td>


							<!--
							<td class="text-nowrap"> {{ objetoN.subtotalPorProducto | currency: 'Q. ' }}</td>
						-->

							<td class="text-nowrap">
								<button class="btn btn-danger btn-lg" (click)="quitarDelPedido(ind) ">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash3-fill" viewBox="0 0 16 16">
										<path
											d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
									</svg>
								</button>
							</td>

						</tr>
					</tbody>
				</table>
			</div>


			<div class="h3 text-nowrap">
				{{ todoElPedido.ganancia | currency: 'Q. ' || 0 }} Ganancia del pedido<br />
				{{ todoElPedido.subtotal | currency: 'Q. ' || 0 }} Subtotal<br />
				{{ todoElPedido.iva | currency: 'Q. ' || 0 }} IVA<br />
				{{ todoElPedido.total | currency: 'Q. ' || 0 }} Total
			</div>

		</div>
		<!-- tabla-detalle-pedido -->





		<div class="col-12 my-4">
			Tipo de Pedido
			<select class="form-select form-select-lg" [(ngModel)]="todoElPedido.tipoPago">
				<option *ngFor="let objetoN of tiposDePago" value={{objetoN.id}}>
					{{objetoN.nombre}}
				</option>
			</select>
		</div>


		<div class="col-12 my-5">
			<button class="btn btn-dark btn-lg btn-100"
			 (click)="guardarPedido()" id="guardarPedidoBtn" >
				Guardar
			</button>
		</div>

		<br /><br /><br /><br />
		<br /><br /><br /><br />





	</div><!-- row -->

</div><!-- container-fluid -->