<div class="container-fluid">

	<div class="row">

		<div class="col-12 my-2" *ngIf="verLista == 'S'">
			<button class="btn btn-dark btn-lg align-middle btn-100" (click)="verVentanaAgregar()">Agregar</button>
		</div>

		<div class="col-12 my-2" *ngIf="verLista == 'N'">
			<button class="btn btn-dark btn-lg align-middle btn-100" (click)="verListado()">Regresar</button>
		</div>

		<div class="col-12 my-2" *ngIf="verLista == 'S'">
			<div class="input-group">
				<span class="input-group-text bg-dark text-white">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
						viewBox="0 0 16 16">
						<path
							d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</span>
				<input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar"
					[(ngModel)]="objetoSeleccionado.buscar" maxlength="20" (change)="buscarEnDb(objetoSeleccionado.buscar)">

				<button class="btn btn-dark btn-lg " (click)="limpiarBusqueda()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
						viewBox="0 0 16 16">
						<path
							d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
					</svg>
				</button>
			</div>
		</div>




		<div class="col-12 my-2" *ngIf="verLista == 'S'">
			<div class="table-responsive">
				<table class="table table-striped table-lg table-borderless">
					<thead>
						<tr>
							<th class="text-nowrap" scope="col">ID</th>
							<th class="text-nowrap" scope="col">Nombre</th>
							<th class="text-nowrap" scope="col">Pendiente de pago</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let objetoN of objetos">
							<td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">
								{{ objetoN.id }}
							</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">
								{{ objetoN.nombre }} {{ objetoN.nombreDos || "" }} {{ objetoN.apellido || "" }} {{ objetoN.apellidoDos || "" }}
							</td>
							<td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">
								{{ objetoN.pendienteDePago | currency: 'Q. ' }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		









<!-- agregar -->
<div *ngIf="verAgregar == 'S'">

	<div class="col-12 my-2">
		<div class="form-floating mb-3">
			<input type="text" class="form-control form-control-lg" id="parametro-nombre" placeholder=""
				[(ngModel)]="objetoSeleccionado.nombre">
			<label for="parametro-nombre" class="form-label">Nombre:</label>
		</div>
	</div>

	<div class="col-12 my-2">
		<div class="form-floating">
			<input type="text" class="form-control form-control-lg" id="parametro-nombreDos" placeholder=""
				[(ngModel)]="objetoSeleccionado.nombreDos">
			<label for="parametro-nombreDos" class="form-label">Segundo nombre:</label>
		</div>
	</div>

	<div class="col-12 my-2">
		<div class="form-floating">
			<input type="text" class="form-control form-control-lg" id="parametro-apellido" placeholder=""
				[(ngModel)]="objetoSeleccionado.apellido">
			<label for="parametro-apellido" class="form-label">Apellido:</label>
		</div>
	</div>

	<div class="col-12 my-2">
		<div class="form-floating">
			<input type="text" class="form-control form-control-lg" id="parametro-apellidoDos" placeholder=""
				[(ngModel)]="objetoSeleccionado.apellidoDos">
			<label for="parametro-apellidoDos" class="form-label">Segundo Apellido:</label>
		</div>
	</div>

	<div class="col-12 my-2" *ngIf="crearOrActualizar == 'C'">
		<button class="btn btn-dark btn-lg btn-100" (click)="agregar(this.objetoSeleccionado)">
			Guardar
		</button>
	</div>

	<div class="col-12 my-2" *ngIf="crearOrActualizar == 'A'">
		<button class="btn btn-dark btn-lg btn-100" (click)="actualizar(this.objetoSeleccionado)">
			Actualizar
		</button>
	</div>

</div><!-- agregar -->







<!-- editar -->
<div *ngIf="verEditable == 'S'">


	<div class="col-12 my-2">
		<button class="btn btn-dark btn-lg btn-100" (click)="mostrarCargosAbonos()">
			Ver Cargos y Abonos
		</button>
	</div>

	<div class="col-12 my-2">
		<button class="btn btn-dark btn-lg btn-100" (click)="mostrarFacturas()">
			Ver Facturas
		</button>
	</div>

	<div class="col-12 my-2">
		<button class="btn btn-dark btn-lg btn-100" (click)="mostrarAgregarAbono()">
			Agregar abono
		</button>
	</div>

</div>



<div *ngIf="verAgregarAbono">

	<div class="col-12 my-2">
		<div class="form-floating mb-3">
			<input type="text" class="form-control form-control-lg" id="parametro-abono" placeholder=""
				[(ngModel)]="objetoSeleccionado.abono" required>
			<label for="parametro-abono" class="form-label">Monto:</label>
		</div>
	</div>

	<div class="col-12 my-2">
		<div class="form-floating mb-3">
			<input type="text" class="form-control form-control-lg" id="parametro-info" placeholder=""
				[(ngModel)]="objetoSeleccionado.info">
			<label for="parametro-info" class="form-label">Información:</label>
		</div>
	</div>

	<div class="col-12 my-2">
		<p (click)="esRebaja()" class="h5">
			Es Descuento: {{formatoBool(esRebajaOrDescuento)}}
		</p>
	</div>

	<div class="col-12 my-2">
		<button class="btn btn-dark btn-lg btn-100" (click)="agregarAbono()">
			Guardar
		</button>
	</div>

</div>


<app-clienteabona-list [idCliente]="objetoSeleccionado.id" *ngIf="verTablaCargosAbonos" />

<app-factura-list [idCliente]="objetoSeleccionado.id" *ngIf="verTablaFacturas" />

</div><!-- row -->
</div><!-- container-fluid -->
