
/* Mis Varibles CSS */
/*
:root {
	--blue: #001b33;
}

.customBlue {
	color: var(--blue);
}
*/

.page-link {
	color: #000000 !important;
	border: 0px solid white !important;
}

table {
	border-bottom: 2px solid black !important;
}

table > thead > tr > th, th {
text-wrap: nowrap !important;
background-color: #000000 !important;
color: #ffffff !important;
text-align: center !important;
width: max-content !important;
padding-left: 27px !important;
padding-right: 27px !important;
}

table > tbody > tr > td, td  {
text-wrap: nowrap !important;
width: max-content !important;
text-align: center !important;
}

.btn-derecha {
	float: right !important;
	margin-left: 10px !important;
}

.img-center {
	width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.paginaN {
	border: 2px solid gray !important;
	border-radius: 45% !important;
	margin: 0px !important;
	margin-left: 20px !important;
	font-size: 27px !important;
	padding: 0px 10px !important;
	text-decoration: none;
	color: #000000 !important;
	text-align: left !important;
}

.form-select {
	border: 2px solid gray !important;
	width: 100% !important;
	border-radius: 20px !important;
}

.btn-100 {
	width: 100% !important;
}

.nav-item {
}
.navbar-brand {
}
