
/* Mis Varibles CSS */
:root {
  --darkblue: #001B33;
  --blue: #1e90ff;
  --white: #ffffff; 
}

.frankBlue {
  color: var(--blue);
  background-color: var(--darkblue);
  width: max-content !important;
  padding: 18px !important;
  border: 8px solid var(--blue);
}

.container-fixed-width {
  width: 405px !important;
}

button {
	font-weight: bold;
}

.tableHeaderBlack {
	background-color: #000000 !important;
	color: #ffffff !important;
}

.font21{
	font-size: 21px !important;
}
