
/* Mis Varibles CSS */
/*
:root {
	--blue: #001b33;
}

.customBlue {
	color: var(--blue);
}
*/

.page-link {
	color: #000000 !important;
	border: 0px solid white !important;
}

table {
	border-bottom: 2px solid black !important;
}

table > thead > tr > th, th {
text-wrap: nowrap !important;
background-color: #000000 !important;
color: #ffffff !important;
text-align: center !important;
width: max-content !important;
padding-left: 27px !important;
padding-right: 27px !important;
}

table > tbody > tr > td, td  {
text-wrap: nowrap !important;
width: max-content !important;
text-align: center !important;
}


.nav-item {
	padding-top: 27px !important;
	padding-bottom: 27px !important;
	font-size: 20px !important;
	font-weight: normal !important;
	text-align: center !important;
}

.navbar-brand {
	font-size: 20px !important;
}

.btn-derecha {
	float: right !important;
	margin-left: 10px !important;
}

.img-center {
	width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
