
<!-- izquierda 20, derecha 80 -->
<div class=" mt-2 pb-3" *ngIf="menuActual == '1'">
  <div class="d-grid gap-1" style="grid-template-columns: 1fr 2fr;">
    <div class="bg-body-tertiary border rounded-3">
      <app-sidebar />
    </div>
    <div class="bg-body-tertiary border rounded-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- izquierda 20, derecha 80 -->



<div class="" *ngIf="menuActual == '0'" >
  <app-topbar />
  <br/><br/>
  <router-outlet></router-outlet>
</div>

<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
