
<div class="container">

	<div class="row">
		<div class="col-12 my-4">
			<p>
				<br/>
				Sistema hecho con Angular, Spring Boot y MySQL.<br/>

				Llevará control del inventario de productos,
				con registros historicos de entradas y salidas.<br/>

				Llevará control de pedidos pagados en efectivo, al credito y los abonos,<br/>

				Llevará control de los ingresos y egresos,<br/>
				para su consulta por año y mes de pagos en efectivo, abonos y<br/>
				el saldo pendiente de pago por cada cliente.<br/>

				El diseño visual está enfocado para dispositivos moviles.
			</p>

			<div class="text-center">
				<img src="/assets/diagramaDB.png" alt="diagrama-de-base-de-datos" class="img-center" />
			</div>

		</div>

	</div>
</div>
