
<div class="container-fluid">

	<div class="row">
		<div class="col my-4">
			<p>
				Sistema hecho con Angular, Spring Boot y MySQL
				para llevar un control del inventario de productos,
				llevando registros historicos de entradas y salidas,
				los pedidos en efectivo, pedidos al credito y pagos parciales,
				así como los ingresos y egresos por año y mes de
				las ventas en efectivo y pagos parciales realizados,
				y el saldo pendiente de pago por cada cliente.

				El diseño visual es para dispositivos moviles.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col my-4 text-center">
			<img src="/assets/diagramaDB.png" alt="diagrama-de-base-de-datos" class="img-center" />
		</div>
	</div>

</div>
