
<div class="container-fluid">

	<div class="row">
		<div class="col my-4">
			<p>
				Sistema hecho con Angular, Spring Boot y MySQL
				para llevar un control del inventario de productos,
				llevando un registro historico de sus entradas y salidas,
				asi como los pedidos en efectivo, credito y los pagos parciales,
				asi como los ingresos y egresos por mes de ventas en efectivo y pagos parciales,
				y el saldo pendiente de pago por cada cliente.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col my-4 text-center">
			<img src="/assets/diagramaDB.png" alt="diagrama-de-base-de-datos" class="img-center" />
		</div>
	</div>

</div>
