<!--
<div class="container-fluid">
-->
<div class="row">

<div class="col-12 my-2">
	<div class="h4">
		Subir información Productos
	</div>
</div>

<div class="col-12 my-2">
<input type="file" accept=".xlsx" (change)="onFileChange($event)" />
</div>

<div class="col-12 my-2">
	<p>Hay {{ productos.length }} registros en este archivo </p>
</div>

<div class="col-12 my-5">
	<button class="btn btn-dark btn-lg align-middle btn-100" (click)="upProductos()">
		Guardar Productos
	</button>
</div>


<div class="col-12 my-5">
	<button class="btn btn-dark btn-lg align-middle btn-100" (click)="upUsuarios()">
		Guardar Clientes
	</button>
</div>

<div class="col-12 my-2">
	<p>Registros recibidos: {{ servidor.recibio || 0 }}</p><br/>
	<p>Registros guardados: {{ servidor.guardo || 0 }}</p>
</div>



</div><!-- row -->
<!--
</div>
-->
