
<div class="container">


  <div class="row" *ngIf="verEditable == 'S'">

    <div class="col-12 my-2">
      <button class="btn btn-dark btn-lg align-middle btn-100" (click)="verListado()"
        *ngIf="verLista == 'N'">Regresar</button>
    </div>

    <div class="col-12 my-2">
      <button class="btn btn-dark btn-lg align-middle btn-100" (click)="pedidoDevuelto()"
        *ngIf="facturaSeleccionada.tipoPago == 'V'">Devuelto</button>
    </div>

    <div class="col-12 my-2">
      <button class="btn btn-dark btn-lg align-middle btn-100" (click)="confirmarPedido()"
        *ngIf="facturaSeleccionada.tipoPago == 'V'">Confirmado</button>
    </div>

  </div>

  <div class="row" *ngIf="verLista == 'S' && idCliente == '' ">

    <div class="col my-2">
      <div class="input-group mb-3">
        <span class="input-group-text bg-dark text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </span>
        <input type="text" class="form-control form-control-lg" id="parametro-buscar" placeholder="Buscar"
          [(ngModel)]="facturaSeleccionada.buscar" maxlength="1000" (change)="buscarEnDb(facturaSeleccionada.buscar)">

        <button class="btn bg-dark text-white btn-lg " (click)="limpiarBusqueda()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban"
            viewBox="0 0 16 16">
            <path
              d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
          </svg>
        </button>

      </div>

    </div>


  </div>

  <div class="row" *ngIf="verLista == 'S'">
    <div class="col-12 my-2">

      <div class="table-responsive">

        <table class="table table-striped table-lg table-borderless">
          <thead>
            <tr>

              <th class="text-nowrap" scope="col">Pedido #</th>
              <th class="text-nowrap" scope="col">Cliente</th>
              <th class="text-nowrap" scope="col">Tipo Pedido</th>
              <th class="text-nowrap" scope="col">Ganancia</th>
              <th class="text-nowrap" scope="col">Subtotal sin IVA</th>
              <th class="text-nowrap" scope="col">IVA</th>
              <th class="text-nowrap" scope="col">Total</th>
              <th class="text-nowrap" scope="col">Fecha</th>
              <th class="text-nowrap" scope="col">Fecha Devolución</th>
              <th class="text-nowrap" scope="col">Fecha Anulación</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let objetoN of facturas">

              <td class="text-nowrap tleft" (click)="actualizarSeleccionado(objetoN)" >{{ objetoN.id }}</td>
              <td class="text-nowrap tleft" (click)="actualizarSeleccionado(objetoN)" >{{ objetoN.nombreCompleto | uppercase }}
              </td>
              <td class="text-nowrap tleft" (click)="actualizarSeleccionado(objetoN)">{{ objetoN.tipoPagoDetalle | uppercase
                }}</td>
              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">{{ objetoN.ganancia | currency: 'Q. ' }}
              </td>
              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">{{ objetoN.subtotalSinIva | currency:
                'Q. ' }}</td>
              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">{{ objetoN.iva | currency: 'Q. ' }}</td>
              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">{{ objetoN.total | currency: 'Q. '}}
              </td>
              
              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">
                {{ formatoDeFecha(objetoN.fechaEmision) }}
              </td>
              
              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">
                {{ formatoDeFecha(objetoN.fechaDevolucion) }}
              </td>

              <td class="text-nowrap" (click)="actualizarSeleccionado(objetoN)">
                {{ formatoDeFecha(objetoN.fechaAnulacion) }}
              </td>


            </tr>
          </tbody>
        </table>

<!-- paginacion -->
<div *ngIf="verLista == 'S' && idCliente == ''">

	<div class="col-12 my-2">
	<div class="container">
	<div class="row">
	<div class="col-12 my-2">
	<label>Cantidad por página</label>
	<select class="form-select form-select-lg" (change)="setCantidadPorPag()" [(ngModel)]="cantidad">
	<option *ngFor="let cantidadPorPag of opcionesCantidadPorPagina">
	{{ cantidadPorPag }}
	</option>
	</select>
	</div>
	</div>
	</div>
	</div>
	
	<div class="container my-2">
	<div class="row">
	<span>Páginas</span>
	@for (paginaN of paginasDisponiblesArray; track paginaN.numPagina) {
		<div class="col m-4 imggrid pnumber" (click)="getPorPaginaNum(paginaN.numPagina)" >{{ paginaN.numPagina }}</div>
	}
	</div>
	
	
	</div>
</div>
<!-- paginacion -->


      </div>

    </div>
  </div>












  <!-- detalle por factura -->
  <div class="row" *ngIf="verEditable == 'S'">

    <div class="col-12 my-4">
      <div class="table-responsive">
        <table class="table table-striped table-lg table-borderless">
          <thead>
            <tr>
              <th class="text-nowrap" scope="col">Producto Vendido</th>
              <th class="text-nowrap" scope="col">Cantidad</th>
              <th class="text-nowrap" scope="col">Precio Vendido</th>
              <th class="text-nowrap" scope="col">Subtotal</th>
              <th class="text-nowrap" scope="col">IVA</th>
              <th class="text-nowrap" scope="col">Costo</th>
              <th class="text-nowrap" scope="col">Ganancia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalleN of detallesPorFactura">
              <td class="text-nowrap">{{ detalleN.nombreProducto | uppercase }}</td>
              <td class="text-nowrap">{{ detalleN.cantidadProductoVendido }}</td>
              <td class="text-nowrap">{{ detalleN.precioVentaPorProducto | currency: 'Q. ' }}</td>
              <td class="text-nowrap">{{ detalleN.subtotalPorProducto | currency: 'Q. ' }}</td>
              <td class="text-nowrap">{{ detalleN.ivaDelSubtotalPorProducto | currency: 'Q. ' }}</td>
              <td class="text-nowrap">{{ detalleN.costoDelSubtotalPorProducto | currency: 'Q. ' }}</td>
              <td class="text-nowrap">{{ detalleN.gananciaDelSubtotalPorProducto | currency: 'Q. ' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 my-2">
      <button class="btn btn-dark btn-lg align-middle btn-100" (click)="anularPedido()"
        style="background-color: red !important; color: white !important; font-weight: bold !important;">
        Anular pedido
      </button>
    </div>

  </div><!-- detalle por factura -->



</div>
