
<div class="container">
	<div class="row">

		<div class="col-12 my-2">

			<form method="post" enctype="multipart/form-data">

				<div class="row">

					<div class="col-12 my-2">
						ID Producto: {{ productoId }}
					</div>


					<div class="col-12 my-2">
						<label for="inputImagen">Seleccionar imagen</label>
						<input type="file" name="archivo" id="inputImagen"
							accept="image/*" (change)="onFileSelected($event)" 
							class="btn btn-dark btn-lg align-middle btn-100" />
					</div>

					<div class="col-12 my-2">
						<button class="btn btn-dark btn-lg align-middle btn-100" (click)="onUpload()">
							Guardar imagen
						</button>	
					</div>
					
				</div>

			</form>

		</div><!-- col -->

		<!-- previsualizar imagen -->
		<div class="col-12 my-2">
			<div class="text-center">
				<img [src]="enlace" alt="imagen" width="255px" class="border border-black" />
			</div>
		</div><!-- previsualizar imagen -->




	</div><!-- row -->
</div><!-- container -->

